baseURL = 'https://journal.bcl.io/'
languageCode = 'en-US'
title = 'Codec'
capitalizeListTitles = false
pluralizeListTitles = false

[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight = 20

[[menus.main]]
name = 'Tags'
pageRef = '/tags'
weight = 30

[module]
  [module.hugoVersion]
    extended = false
    min = "0.146.0"

[taxonomies]
  category = 'categories'
  tag = 'tags'

# for markdown image resizing: https://tracknut.ca/tech/markdown-image-handling/
# https://gohugo.io/content-management/markdown-attributes/
[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true
